@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: linear-gradient(45deg, #85c7fa, #e7eff5); /* Gradient Stylings*/
}

.logo {
    font-size: 2.5em;
    color: #555;
    cursor: default;
}

.logo span {
    color: #004974;
    font-size: 1.1em;
}

.navigation {
    display: flex;
    gap: 35px;
}

.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    font-weight: 500;
    transition: .3s; /* Smooth transitions */
}
/* Smooth transitions */
.navigation a:hover {
    color: #004974;
    transform: translateX(-5px); /* transform stylings */
}



/* Hamburger Menu Styles */
.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: #004974;
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        display: flex;
        position: absolute;
        padding-left: 380px;
        padding-top: 17px;        
    }

    .content h2{
        padding-top: 80px;
    }

    .social-icons{
        padding-top: 25px;
        padding-left: 20px;
    }

    .navigation {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background-color: #c0e0f9;
        padding: 10px 0;
    }

    .menu-toggle:checked + .hamburger + .navigation {
        display: flex;
    }
    
}

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-size: cover;
    background-position: center;
    
}

.content {
    max-width: 50%;
    color: #555;
    font-weight: 450;
}

.content > h2 { /* Child Combinator */
    font-size: 3em;
    transition: .3s; /* Smooth transitions */
}
/* High specificity */
.content h2 span {
    color: #004974;
}

.content h2:hover {
    transform: translateY(-5px);
}

.content > h4 { /* Child Combinator */
    font-size: 2em;
}

.content > p { /* Child Combinator */
    padding: 20px 0 50px 0;
}

.cv-button a {
    color: #004974;
    text-decoration: none;
    padding: 10px 40px;
    background: #fff;
    border-radius: 10px; /* Slightly rounded corners */
    border: 2px solid #004974; /* Border styling */
    font-weight: 500;
    transition: .3s; /* Smooth transitions */
}
/* Smooth transitions */
.cv-button a:hover {
    color: #fff;
    background: #004974;
    transform: translateX(-5px); /* transform stylings */
}

.social-icons {
    padding-top: 25px;
    position: relative; /* Changed from absolute to relative */
    margin-top: 20px; /* Added margin for spacing */
}

.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #004974;
    border-radius: 50%; /* Slightly rounded corners */
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 3px solid #fff; /* Border styling */
    outline: 3px solid #004974;
    transition: .3s; /* Smooth transitions */
}
/* Smooth transitions */
.social-icons a:hover {
    transform: translateY(-5px); /* transform stylings */
}

.social-icons a i {
    color: #fff;
}

/* Image container for the home section */
.image-container {
    max-width: 40%;
    height: 400px;
    overflow: hidden;
    border-radius: 50%; /* Slightly rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Added margin for spacing */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #home {
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Center items */
        padding: 30px 20px; /* Adjust padding for smaller screens */
    }

    .content {
        max-width: 100%; /* Make content take full width */
        text-align: center; /* Center text */
    }

    .image-container {
        max-width: 60%; /* Adjust image size for better fit */
    }
}


/*about section*/

#about {
    padding: 90px;
    background-color: #fff;
    color: #333;
    text-align: center;
    /* margin-top:auto; */
}

#about .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

#about h4 {
    font-size: 2em;
    color: #004974;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 40px;
    line-height: 1.6;
}

.about-section {
    margin-bottom: 40px;
}

.about-section > h5 { /* Child Combinator */
    font-size: 1.8em;
    color: #004974;
    margin-bottom: 20px;
}

.tile {
    background-color: #c0e0f9;
    color: #333;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transitions */
    font-size: 1.1em;
}

.tile span {
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
    color: #555;
}
/* Smooth transitions */
.tile:hover {
    transform: scale(1.05); /* transform stylings */
}

/* Responsive Design */
@media (max-width: 768px) {
    #about .content {
        padding: 0 10px;
    }
    .tile {
        font-size: 1em;
    }
}


/* Skills section styling */
#skills {
    padding: 90px ;
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills .content{
    padding-top: 8px;
}
/* High specificity */
#skills .content h4 {
    font-size: 2.3em;
    margin-bottom: 10px;
    color: #004974;
}
/* High specificity */
#skills .content p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
    max-width: 600px;
}

/* Styling for the skills container and skill items */
.skills-container {
    max-width: 800px;
    width: 100%; /* Make sure the skills container takes full width */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
    color: #333;
}

/* Styling for the progress bar */
.progress-bar {
    background-color: #c0e0f9;
    border-radius: 5px; /* Slightly rounded corners */
    flex: 1;
    margin-left: 20px;
    height: 10px;
    overflow: hidden;
    position: relative;
}

.progress {
    background-color: #004974;
    height: 100%;
    border-radius: 5px; /* Slightly rounded corners */
    width: 0; /* Initial width for animation */
    transition: width 0.3s ease; /* Smooth transitions */
    animation: fillProgress 2s forwards; /* Animation keyframes for progress bar */
}

/* Animation keyframes for progress bar */
@keyframes fillProgress {
    from {
        width: 0;
    }
    to {
        width: var(--progress-width);
    }
}





/* Projects section styling */
#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 200px; 
    text-align: center;
}

#projects .content {
    padding-top: 60px;
    max-width: 600px;
    color: #555;
    font-weight: 450;
}
/* High specificity */
#projects .content h4 {
    color: #004974 ;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}
/* High specificity */
#projects .content p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
}
.project-grid {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap; /* This ensures the cards wrap to the next line on smaller screens */
        margin-top: 20px;    
}

.project-card {
    position: relative;
    background-color: #c0e0f9;
    padding: 20px;
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transitions */
}

.project-card:hover {
    transform: scale(1.05); /* transform stylings */
}

.project-card > h5 { /* Child Combinator */
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.language-label {
    position: absolute;
    bottom: 60px;
    right: 20px;
    background-color: #004974;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.language-label i {
    font-size: 1.2em;
}

.github-link {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.github-link i {
    margin-right: 8px;
}
/* Smooth transitions */
.github-link:hover {
    color: #004974;
}



/* General Styling for Contact Section */
#contact {
    padding: 90px 20px;
    background-color: #f5f5f5;
    text-align: center;
    color: #333;
}

#contact .content {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

#contact h4 {
    font-size: 2em;
    color: #004974;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
}

/* Form Styling */
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #004974;
}

.form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s; /* Smooth transitions */
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #004974;
}

.send-button {
    padding: 12px 20px;
    background-color: #004974;
    color: #fff;
    border: none; /* Border styling */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transitions */
}
/* Smooth transitions */
.send-button:hover {
    color: #004974;
    background-color: #c0e0f9;
}
#gototop{
    text-align: center;
    color: #004974;
    font-size: 1.1em;    
}
/*footer*/
footer {
    text-align: center;
    padding: 20px;
    background: #f1f1f1;
    color: #555;
}
footer p {
    margin: 0;
}
