#navlist li{
    display: inline;
    padding: 8px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  
}
.navlist li a:visited {
    color: rgb(18, 174, 36);
}
.navlist li a.active {
    color: #ffffff;
    border-bottom: 4px solid;
}
.navlist li a:hover {
    padding: 5px;
    background-color: rgb(5, 205, 245)
}
#navlist #name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
    color: navy;
    text-align: left;
}
#navlist {
    width: 100%;
    background-color: azure;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    text-align: right;
    
}